<html>
  <body>

    <div class="posts">
      <% posts.each do |post| %>
        <div class="post">

          <h2 class="title">
            <a href="/posts/<%= post.id %>"><%= post.title %></a>
          </h2>

          <small class="meta">
            <span class="author">by <%= post.author %> -</span>
            <em class="created_at"><%= post.created_at %></em>
          </small>

          <a href="/posts/<%= post.id %>/edit">Edit</a>

          <%= form_tag "/posts/#{post.id}", method: "delete" , style: "display: inline" do %>
            <%= submit_tag "Delete" %>
          <% end %>
        </div>
        <hr />
      <% end %>
    </div>
    <a href="/posts/new">New Post</a>

  </body>
</html>
